<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/page_1.css') }}">
</head>
<body>
<div class="upload-btn-wrapper">
    <button class="btn">Upload a file</button>
    <input type="file" name="myfile" id="bigbutton"/>
</div>
<label class="container">Download .docx file
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
</label>
<label class="container">Download .docx file
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
</label>
</body>
</html>